/* Styling for the secret_key.html page */

body#check-wizard {
    margin: 40px;
    background-color: #9c1203;
    font-family: 'Dancing Script', cursive;
    ;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 30px;
}

.title {
    text-align: center;
    font-weight: bold;
    color: #e3a000;
    margin: 40px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
    background-color: #e3a000;
    padding: 30px;
    color: #00165e;
    font-size: 30px;
    border-radius: 20px;
    text-align: center;
}

li:hover {
    background-color: #2d004d;
    color: #e3a000;
}

ul#cast-spell {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
}

#muggle-message {
    padding-top: 100px;
    font-size: 30px;
    text-align: center;
    color: white;
}